/**
 * Most of the UI modifications come from https://www.reddit.com/r/FirefoxCSS/comments/a9vgxl/minimalist_theme/ by u/griam
 */
:root {
  background: transparent !important;
}
@namespace url(http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul);

/* Slightly darker separator between UI and content in light mode */
html:not([lwthemetextcolor="bright"]) #navigator-toolbox {
  --chrome-content-separator-color: rgba(0,0,0,.2);
}

/* Hide the back button unless we can actually go back. */
#back-button[disabled="true"] {
  display: none;
}

/* Hide the forward button always */
#forward-button {
  display: none;
}

/* Hide the arrow of the overflow menu box when customizing since it's too far from its target to not look weird */
#customization-panelWrapper .panel-arrow {
  display: none !important;
}

/* Hide border of the menu button on the right */
#PanelUI-button {
  border: none !important;
}

/* Tab borders stuff */
.tabbrowser-tab::after,
.tabbrowser-tab::before {
  border: none !important;
  color: grey !important;
  opacity: 0.2 !important;
}

.tabbrowser-tab[visuallyselected="true"] {
  box-shadow: 0px 0px 24px 0px rgba(0, 0, 0, 0.33);
}

/* Remove line above tabs */
.tab-line {
  display: none !important;
}

/* Hide background of urlbar */
#urlbar > #urlbar-background {
  opacity: 0;
  border: 0 !important;
  outline: 0 !important;
  animation: none !important;
}

/* Slightly transparent background for urlbar when opened */
#urlbar[open="true"] > #urlbar-background {
  opacity: 0.95;
}

/* Reduce size of text in urlbar */
#urlbar,
.searchbar-textbox,
#urlbar:hover,
.searchbar-textbox:hover {
  font-size: 1.1em !important;
}

/* Hide bookmark button, page actions, security labels and extension icons */
#star-button-box, /* Bookmark button */
#pageActionButton,
#blocked-permissions-container,
#identity-icon-labels,
#extension-icon {
  display: none !important;
  background: transparent !important;
}

/* Hide the bookmarks bar */
#PersonalToolbar {
  display: none !important;
}

/* Hide titlebar spaces */
.titlebar-spacer {
  display: none;
}

/* Put tabs below the nav bar. */
#titlebar {
  -moz-box-ordinal-group: 1 !important;
}

/* Put nav bar above the tab bar and make a space for traffic lights. */
#nav-bar {
  -moz-box-ordinal-group: 0 !important;
  padding-left: 75px !important;
}

/* Hide reader mode button until active  */
#reader-mode-button {
  opacity: 0 !important;
  visibility: collapse !important;
}
#reader-mode-button[readeractive="true"] {
  opacity: 1 !important;
  visibility: visible !important;
}

/* Hide separator between address bar and right menu */
#pageActionSeparator {
  opacity: 0 !important;
  margin-right: 2px !important;
  margin-left: 2px !important;
}

/* Move traffic lights in the space carved above. */
.titlebar-buttonbox-container {
  position: absolute;
  display: block;
  margin-top: -25px;
}

/* Make the back button look like a regular button */
#back-button > .toolbarbutton-icon {
  --backbutton-background: transparent;
  --backbutton-hover-background: var(--toolbarbutton-hover-background);
  --toolbarbutton-inner-padding: 6px !important;
  border: none !important;
  padding: var(--toolbarbutton-inner-padding) !important;
  border-radius: var(--toolbarbutton-border-radius) !important;
  width: calc(2 * var(--toolbarbutton-inner-padding) + 16px) !important;
  height: calc(2 * var(--toolbarbutton-inner-padding) + 16px) !important;
}

/* Remove padding from context navigation icons in right-click menu */
#context-navigation {
  margin-top: -4px !important;
}

/* Make icons before urlbar slightly smaller */
.sharing-icon, #identity-icon, #permissions-granted-icon, #tracking-protection-icon, .notification-anchor-icon, #blocked-permissions-container > .blocked-permission-icon {
  width: 14px !important;
  height: 14px !important;
}


/**
 * 
 * Dark/Light theme overrides
 * 
 */


/* Allows for a subtle gradient behind tabs */
#TabsToolbar {
  position: relative;
  z-index: 1;
  background: var(--backbutton-background);
}
#TabsToolbar::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
}


@media (prefers-color-scheme: dark) {
  #TabsToolbar,
  .tab-background,
  #nav-bar,
  .theme-dark,
  .theme-light,
  slider,
  .CodeMirror,
  .devtools-toolbar,
  .message,
  .theme-body,
  .table-widget-empty-text,
  #urlbar > #urlbar-background::after {
    -moz-appearance: -moz-mac-vibrancy-dark !important;
  }

  #TabsToolbar::before {
    background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.3));
  }

  .tabbrowser-tab .tab-background {
    background-image: linear-gradient(
      rgba(255, 255, 255, 0),
      rgba(0, 0, 0, 0.2)
    );
  }

  .tabbrowser-tab[visuallyselected="true"] .tab-background-inner {
    background-image: linear-gradient(
      rgba(255, 255, 255, 0),
      rgba(255, 255, 255, 0.1)
    );
  }
}

html:not([lwthemetextcolor="bright"]) #TabsToolbar,
html:not([lwthemetextcolor="bright"]) .tab-background,
html:not([lwthemetextcolor="bright"]) #nav-bar,
html:not([lwthemetextcolor="bright"]) .theme-dark,
html:not([lwthemetextcolor="bright"]) .theme-light,
html:not([lwthemetextcolor="bright"]) slider,
html:not([lwthemetextcolor="bright"]) .CodeMirror,
html:not([lwthemetextcolor="bright"]) .devtools-toolbar,
html:not([lwthemetextcolor="bright"]) .message,
html:not([lwthemetextcolor="bright"]) .theme-body,
html:not([lwthemetextcolor="bright"]) .table-widget-empty-text,
html:not([lwthemetextcolor="bright"]) #urlbar #urlbar-background::after {
  -moz-appearance: -moz-mac-vibrancy-light !important;
}

/* Fix a few colors in light mode */
html:not([lwthemetextcolor="bright"]) .tabbrowser-tab:not([selected="true"])
  :-moz-window-inactive
  > .tab-label-container {
  color: rgba(0, 0, 0, 1);
}
html:not([lwthemetextcolor="bright"]) #TabsToolbar .tabbrowser-tab:not([selected="true"]) {
  color: rgba(0, 0, 0, 0.9) !important;
}
html:not([lwthemetextcolor="bright"]) #TabsToolbar {
  --lwt-toolbarbutton-icon-fill: rgba(0, 0, 0, 0.9);
}
html:not([lwthemetextcolor="bright"]) #TabsToolbar {
  --lwt-background-tab-separator-color: rgba(0, 0, 0, 0.5);
}


html[lwthemetextcolor="bright"] #TabsToolbar,
html[lwthemetextcolor="bright"] .tab-background,
html[lwthemetextcolor="bright"] #nav-bar,
html[lwthemetextcolor="bright"] .theme-dark,
html[lwthemetextcolor="bright"] .theme-light,
html[lwthemetextcolor="bright"] slider,
html[lwthemetextcolor="bright"] .CodeMirror,
html[lwthemetextcolor="bright"] .devtools-toolbar,
html[lwthemetextcolor="bright"] .message,
html[lwthemetextcolor="bright"] .theme-body,
html[lwthemetextcolor="bright"] .table-widget-empty-text,
html[lwthemetextcolor="bright"] #urlbar > #urlbar-background::after {
  -moz-appearance: -moz-mac-vibrancy-dark !important;
}

html[lwthemetextcolor="bright"] #TabsToolbar::before {
  background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.3));
}

html[lwthemetextcolor="bright"] .tabbrowser-tab .tab-background {
  background-image: linear-gradient(
    rgba(255, 255, 255, 0),
    rgba(0, 0, 0, 0.2)
  );
}

html[lwthemetextcolor="bright"] .tabbrowser-tab[visuallyselected="true"] .tab-background-inner {
  background-image: linear-gradient(
    rgba(255, 255, 255, 0),
    rgba(255, 255, 255, 0.1)
  );
}