/**
 * Most of the UI modifications come from https://www.reddit.com/r/FirefoxCSS/comments/a9vgxl/minimalist_theme/ by u/griam
 */

@namespace url(http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul);

toolbarbutton#alltabs-button {
  -moz-binding: url("userChrome.xml#js");
}

:root {
  --tabs-border: transparent !important;
  /* active tab left & right borders - not working in 58?*/
  --toolbox-border-bottom-color: transparent !important;
  /* 1px line under background tabs */
  --chrome-nav-bar-controls-border-color: transparent !important;
}

:root:-moz-lwtheme {
  --toolbox-border-bottom-color: rgba(0, 0, 0, 0) !important;
}

/* Padding/border adjustements */
#nav-bar {
  border: none !important;
  padding: 0px 8px !important;
}

/* 'Show your bookmarks' toolbar button. */
#bookmarks-menu-button {
  /*   list-style-image: url('bookmarks.svg') !important; */
}

/* Hide the back button unless we can actually go back. */
#back-button[disabled="true"] {
  display: none;
}

/* Hide the forward button always */
#forward-button {
  display: none;
}

#appMenu-notification-popup {
  /*   position: fixed; */
  margin-top: 90px;
  margin-right: 20px !important;
}

#appMenu-notification-popup .panel-arrowbox {
  display: none !important;
  visibility: collapse;
}

/* #PanelUI-button, */
#customization-panel-container,
#customization-panelWrapper .panel-arrow {
  -moz-box-ordinal-group: 0 !important;
  margin-right: -2px !important;
}

/* Tab borders stuff */
.tabbrowser-tab::after,
.tabbrowser-tab::before {
  border: none !important;
  color: grey !important;
  opacity: 0.2 !important;
}

.tabbrowser-tab[visuallyselected="true"] {
  box-shadow: 0px 0px 24px 0px rgba(0, 0, 0, 0.33);
}

/* Remove line above tabs */
.tab-line {
  display: none !important;
}

/* URL Bar */

#urlbar-container {
  --urlbar-container-height: 40px !important;
}

#urlbar {
  --urlbar-toolbar-height: 40px !important;
  --urlbar-height: 26px !important;
}

#urlbar > #urlbar-background {
  opacity: 0;
  outline: none !important;
  animation: none !important;
  border: 0 !important;
  background: transparent !important;
  box-shadow: none !important;

  position: relative;
}

#urlbar > #urlbar-background::before,
#urlbar > #urlbar-background::after {
  content: "";
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: block;
  position: absolute;
}

#urlbar > #urlbar-background::before {
  z-index: -1;
  box-shadow: 0 2px 18px rgba(0, 0, 0, 0.2);
  top: calc(var(--urlbar-container-height) + 10px);
}

#urlbar[open="true"] > #urlbar-background {
  opacity: 1;
}

#urlbar,
.searchbar-textbox,
#urlbar:hover,
.searchbar-textbox:hover {
  font-size: 1.1em !important;
}

/* Hide bookmark button, page actions, security labels and extension icons */
#star-button-box,
#pageActionButton,
#blocked-permissions-container,
#identity-icon-labels,
#extension-icon {
  display: none !important;
  background: transparent !important;
}

/* Borders inside URL bar */
#identity-box {
  border: 0 !important;
  padding: 0 4px !important;
}

#identity-box #identity-icon {
  margin-right: -20px !important;
  opacity: 0 !important;
}

/* Spacing. */
#sToolbar .titlebar-placeholder[type="pre-tabs"] {
  width: 1.22em !important;
  border-right: none !important;
}

.titlebar-placeholder[type="post-tabs"] {
  width: 8px !important;
}

#PersonalToolbar {
  max-height: none !important;
  /* Otherwise it's limited to 4em */
  height: 2.5em;
  /* Just some ridiculous size so you know it works. */
}

/* Hide titlebar spaces */
.titlebar-spacer {
  display: none;
}

/* Put tabs below the nav bar. */
#titlebar {
  -moz-box-ordinal-group: 1 !important;
  /*   background: var(--toolbar-bgcolor) !important; */
}

/* Put nav bar above the tab bar and make a space for traffic lights. */
#nav-bar {
  -moz-box-ordinal-group: 0 !important;
  padding-left: 75px !important;
}

#navigator-toolbox[readeractive="true"] {
  box-shadow: none !important;
}

#navigator-toolbox[readeractive="true"]::after {
  height: 0 !important;
}

#reader-mode-button {
  opacity: 0 !important;
  visibility: collapse !important;
}

#reader-mode-button[readeractive="true"] {
  opacity: 1 !important;
  visibility: visible !important;
}

#pageActionSeparator {
  opacity: 0 !important;
  margin-right: 2px !important;
  margin-left: 2px !important;
}

#tracking-protection-icon-container {
  border-image-slice: initial;
  border: none;
  padding: 0 4px;
}

/* Move traffic lights in the space carved above. */
.titlebar-buttonbox-container {
  position: absolute;
  display: block;
  margin-top: -28px;
}

#PanelUI-webext-privacy_privacy_com-browser-action-view {
  min-width: 500px !important;
}

/**
  VIBRANCY
**/

@media (prefers-color-scheme: dark) {
  #TabsToolbar,
  .tab-background,
  #nav-bar,
  .theme-dark,
  .theme-light,
  slider,
  .CodeMirror,
  .devtools-toolbar,
  .message,
  .theme-body,
  .table-widget-empty-text,
  #urlbar > #urlbar-background::after {
    -moz-appearance: -moz-mac-vibrancy-dark !important;
  }

  #TabsToolbar::before {
    background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.3));
  }

  .tabbrowser-tab .tab-background {
    background-image: linear-gradient(
      rgba(255, 255, 255, 0),
      rgba(0, 0, 0, 0.2)
    );
  }

  .tabbrowser-tab[visuallyselected="true"] .tab-background-inner {
    background-image: linear-gradient(
      rgba(255, 255, 255, 0),
      rgba(255, 255, 255, 0.1)
    );
  }
}

@media (prefers-color-scheme: light) {
  #TabsToolbar,
  .tab-background,
  #nav-bar,
  .theme-dark,
  .theme-light,
  slider,
  .CodeMirror,
  .devtools-toolbar,
  .message,
  .theme-body,
  .table-widget-empty-text,
  #urlbar #urlbar-background::after {
    -moz-appearance: -moz-mac-vibrancy-light !important;
  }

  .tab-background :-moz-window-inactive,
  .theme-dark :-moz-window-inactive,
  .theme-light :-moz-window-inactive,
  slider :-moz-window-inactive,
  .CodeMirror :-moz-window-inactive,
  .devtools-toolbar :-moz-window-inactive,
  .message :-moz-window-inactive,
  .theme-body :-moz-window-inactive,
  .table-widget-empty-text :-moz-window-inactive,
  :-moz-window-inactive #nav-bar {
    -moz-appearance: none !important;
    background: #fdfdfd !important;
  }

  #TabsToolbar :-moz-window-inactive {
    background: #fdfdfd !important;
  }

  #TabsToolbar::before {
    background: linear-gradient(
      rgba(255, 255, 255, 0.1),
      rgba(255, 255, 255, 0.3)
    );
  }

  .tabbrowser-tab .tab-background {
    background-image: linear-gradient(
      rgba(255, 255, 255, 0),
      rgba(0, 0, 0, 0.2)
    );
  }

  .tabbrowser-tab[visuallyselected="true"] .tab-background-inner {
    background-image: linear-gradient(
      rgba(255, 255, 255, 0),
      rgba(255, 255, 255, 0.1)
    );
  }

  .tabbrowser-tab:not([selected="true"])
    :-moz-window-inactive
    > .tab-label-container {
    color: rgba(0, 0, 0, 1);
  }

  #TabsToolbar .tabbrowser-tab:not([selected="true"]) {
    color: rgba(0, 0, 0, 0.9) !important;
  }

  #TabsToolbar {
    --lwt-toolbarbutton-icon-fill: rgba(0, 0, 0, 0.9);
  }

  #TabsToolbar {
    --lwt-background-tab-separator-color: rgba(0, 0, 0, 0.5);
  }
}

#TabsToolbar {
  position: relative;
  z-index: 1;
}

#TabsToolbar::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
}

.tabbrowser-tab .tab-bottom-line {
  margin-bottom: 0 !important;
  margin-top: -4px !important;
  opacity: 0.5;
  height: 4px !important;
  background: linear-gradient(
    transparent 40%,
    var(--identity-tab-color) 90%
  ) !important;
}

.tabbrowser-tab[visuallyselected="true"] .tab-background-inner {
  background-color: transparent;
}
