@-moz-document url-prefix(about:reader) {
  
  body.dark {
    background-color: #323234 !important;
  }
  
  .toolbar {
    background-color: transparent !important;
    border-right: 0 !important;
    border: 0 !important;
/*     border-color: var(--in-content-box-border-color) !important; */
  }

  .toolbar .button {
    background-color: transparent !important;
    border: 0 !important;
  }
}

@-moz-document url-prefix(about:newtab), url-prefix(about:home) {
 
  .ds-outer-wrapper-breakpoint-override main {
    max-width: 1042px !important;
    width: 100% !important;
  }
  
  .prefs-button {
    display: none !important;
  }
  
  .ds-outer-wrapper-breakpoint-override:not(.fixed-search) .search-wrapper .search-inner-wrapper {
    max-width: 736px !important;
    width: 100% !important;
  }
}